<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/head}"></head>
<body class="bg-light h-100">
<header th:replace="~{/fragments/header}"></header>


<main class="container h-100 d-flex justify-content-center align-items-center">
    <form th:action="@{/admin/threads}"
          th:method="post"
          th:object="${form}"
          class="m-md-auto w-50 pb-3">

        <h2 class="h2 text-center">Создание темы</h2>

        <div class="mb-3">
            <label class="form-label" for="title">Название</label>
            <input th:field="*{title}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   id="title"/>
            <small th:if="${#fields.hasErrors('title')}"
                   th:errors="*{title}"
                   class="text-danger">Error message</small>
        </div>


        <div class="mb-3">
            <label for="category" class="form-label">Категория</label>
            <select id="category" name="category" class="form-select" required>
                <option value="" disabled selected>Выберите категорию</option>
                <option th:each="category : ${categories}" th:value="${category.id}"
                        th:text="${category.name}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label" for="authorId">ID автора</label>
            <input th:field="*{authorId}"
                   th:errorclass="is-invalid"
                   type="text"
                   class="form-control"
                   id="authorId"/>
            <small th:if="${#fields.hasErrors('authorId')}"
                   th:errors="*{authorId}"
                   class="text-danger">Error message</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="content">Текст</label>
            <textarea th:field="*{content}"
                      th:errorclass="is-invalid"
                      class="form-control"
                      id="content"
                      rows="5"></textarea>
            <small th:if="${#fields.hasErrors('content')}"
                   th:errors="*{content}"
                   class="text-danger">Error message</small>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-lg">Создать тему</button>
        </div>
    </form>
</main>
<footer th:replace="~{/fragments/footer}"/>
</body>
</html>